includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    ignoreErrors:
        -
            message: '#Access to an undefined property Spatie\\MediaLibrary\\MediaCollections\\Models\\Media::\$uuid.#'
            path: support/helpers.php
        -
            message: '#Method Bekwoh\\LaravelMediaSecure\\Http\\Controllers\\MediaController::__invoke\(\) should return Illuminate\\Http\\Response but returns Symfony\\Component\\HttpFoundation\\BinaryFileResponse.#'
            path: src/Http/Controllers/MediaController.php
    paths:
        - config
        - routes
        - src
        - support
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false
